# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\FRD_Web\reviewdetector\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
